<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bt.mapper.DtsCategoryMapper">

<select id="findCategorySellAmts" resultType="com.bt.vo.CategorySellAmts">
    SELECT dc.name,SUM(dog.price*dog.number) value
    FROM dts_order_goods dog
        INNER JOIN dts_goods dg ON dog.goods_id = dg.id
        INNER JOIN dts_category dc ON dg.category_id = dc.id
    GROUP BY dc.`name`
</select>
</mapper>