<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bt.mapper.DtsCategoryMapper">

<select id="findCategorySellAmts" resultType="com.bt.vo.CategorySellAmts">
    SELECT dc.name,SUM(dog.price*dog.number) value
    FROM dts_order_goods dog
        INNER JOIN dts_goods dg ON dog.goods_id = dg.id
        INNER JOIN dts_category dc ON dg.category_id = dc.id
    GROUP BY dc.`name`
</select>

<select id="selectParentIdById" resultType="java.lang.Integer">
    select pid
    from dts_category
    where id=#{categoryid}
    </select>

<select id="findCatVos" resultType="com.bt.vo.CatVo">
    select id as value ,`name` as label
    from dts_category
    </select>
</mapper>