<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bt.mapper.DtsUserMapper">

<select id="selectByDayStatis" resultType="com.bt.vo.DayStatis">
    SELECT COUNT(1) as cnts,DATE_FORMAT(add_time,'%Y-%m-%d') as dayStr
    FROM dts_user
    WHERE DATE_FORMAT(add_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL #{statisDaysRang} day)
    GROUP BY DATE_FORMAT(add_time,'%Y-%m-%d')
    </select>

<select id="selectUserDayVo" resultType="com.bt.vo.UserDayVo">
    select DATE_FORMAT(add_time,'%Y-%m-%d') as `day`,count(1) as users
    from dts_user
<!--    where DATE_FORMAT(add_time,'%Y-%m-%d') > DATE_ADD(NOW(),INTERVAL -#{statisDaysRang} day)-->
    group by DATE_FORMAT(add_time,'%Y-%m-%d')
    </select>
</mapper>